*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: inline;
    text-align: center;
}
#header h1{
    text-align: center;
    font-size: 8rem;
}
.box{
    width: 80%;
    margin: auto;
    border: 1px solid red;
    margin-top: 50px;
    margin-bottom: 20px;
    display: inline-flex;
}
.fotos{
    width: 525px;
    height: 330px;
    margin: 10px;
}
.box .text{
    display: inline-block;
    margin-top: 20px;
    padding: 10px;
}
.box .text .baslik{
    font-size: 2.5rem;
    text-align: left;
    
}
.box .text .paragraf{
    font-size: 1.5rem;
    text-align: justify;
    margin-top: 10px;
    text-indent: 50px;
}
.box .text .links{
    margin-top: 20px;
    text-align: end;    
}
.box .text .links a{
    text-decoration: none;
    font-size: 1.4rem;
    width: 200px;
    margin: 25px;
    padding: 10px;
    border: 1px solid orange;
    background-color: orangered;
    color: white;
}
